src/main/resources/PayWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/polydiploma/pay"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="PayWebServiceImplService"
                  targetNamespace="http://www.polytech.unice.fr/si/4a/isa/polydiploma/pay">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/polydiploma/pay" elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/polydiploma/pay" version="1.0">

            <xs:element name="pay" type="tns:pay"/>

            <xs:element name="payResponse" type="tns:payResponse"/>

            <xs:complexType name="pay">
                <xs:sequence>
                    <xs:element minOccurs="0" name="paiement" type="tns:paiement"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="paiement">
                <xs:sequence>
                    <xs:element name="amount" type="xs:int"/>
                    <xs:element minOccurs="0" name="extraData" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="payResponse">
                <xs:sequence>
                    <xs:element name="has_pay" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="pay">
        <wsdl:part element="tns:pay" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="payResponse">
        <wsdl:part element="tns:payResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PayWebService">
        <wsdl:operation name="pay">
            <wsdl:input message="tns:pay" name="pay">
            </wsdl:input>
            <wsdl:output message="tns:payResponse" name="payResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PayWebServiceImplServiceSoapBinding" type="tns:PayWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="pay">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pay">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="payResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PayWebServiceImplService">
        <wsdl:port binding="tns:PayWebServiceImplServiceSoapBinding" name="PayWebServiceImplPort">
            <soap:address location="http://localhost:8082/polydiploma-backend/webservices/PayWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>